global:
  scrape_interval:     15s # By default, scrape targets every 15 seconds.
  evaluation_interval: 15s # By default, scrape targets every 15 seconds.

rule_files:
  - "/prometheus-data/prometheus.rules"

scrape_configs:
  - job_name: 'cAdvisor'

    scrape_interval: 5s
    scrape_timeout: 10s

    target_groups:
      - targets: ['10.0.2.15:8080']
